.user-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 15px;
    min-width: 100vw;
    background-color: #f2f2f2;

  }
  
  .new-key-form {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 90vw;
    justify-content:space-between
}
  
  .api-keys-table {
    width: 90vw;
    overflow-x: auto;
    /* max-height: 60vh;
    overflow-y: auto; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  table {
    background-color: #ffffff;
    border-radius: 4px;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  th {
    background-color: #f8f8f8;
    color: #333333;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
  }
  
  td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #dddddd;
  }
  
  .dashboard-heading {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
  }
  
  .api-keys-heading {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
  }
  
  .key-input {

    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .create-key-button {
    background-color:#40a2fed0;
height: 40PX;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* .create-key-button:hover {
    background-color: #0887fd;
    border-color: #1890ff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  } */
  
  .logout-button {
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logout-button:hover {
    background-color: #ff4d4f;
    border-color: #ff4d4f;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  :where(.css-dev-only-do-not-override-w8mnev).ant-table-wrapper .ant-table-thead >tr>th{
    text-align: center;
  }

  :where(.css-dev-only-do-not-override-w8mnev).ant-table-wrapper .ant-table-pagination-right {
    justify-content: center;
}